$contentBG : #202020;
$controlBG : #fff;
$controlSectionBG : lightgray;
html{
    width: 100%;
    margin-left: 0;
    top: 0;
    font-family: 'Roboto Light', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: orange;
    body{
        width: 100%;
        top: 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;

        header{
            display: flex;
            position: fixed;
            padding: 1%;
            margin-left: 2%;
            margin-top: 1%;
            nav{
                display: flex;
                flex-direction: column;
                border: 4px solid white;
                border-radius: 10px;
                max-width: 75%;
                min-width: 70%;
                padding: 0.5%;
                margin-left: 1%;
            }
        }

        h1{
            color: blueviolet;
            font-weight: bold;
            font-size: 75px;
            z-index: 999999;
            position: absolute;
            left: 25%;
            top: 40%;
            visibility: hidden;

            &.visible {
                visibility: visible;
            }
        }

        img{
            visibility: hidden;
        }
    }
}